h1 {
    text-align: center;
    color: #2D3748;
}

.loginButton {
    width: 50%;
    margin: 0;
    position: relative;
    left: 25%;
}

a.login {
    margin: 0;
    position: relative;
    left: 43%;
}

a.signUp {
    margin: 0;
    position: relative;
    top: 20%;
    left: 41%!important;
}